version: 2
updates:
    - package-ecosystem: github-actions
      directory: /
      schedule:
          interval: weekly
    - package-ecosystem: npm
      commit-message:
          prefix: dependencies
      versioning-strategy: increase
      directory: /
      schedule:
          interval: weekly
      open-pull-requests-limit: 20
      groups:
          docusaurus:
              applies-to: version-updates
              patterns:
                  - '@docusaurus/*'
          typescript-eslint:
              applies-to: version-updates
              patterns:
                  - '@typescript-eslint/*'
                  - 'typescript-eslint'
          eslint:
              applies-to: version-updates
              patterns:
                  - 'eslint'
                  - '@eslint/js'
              ignore:
                  - dependency-name: 'eslint'
                    versions: ['10.x']
                  - dependency-name: '@eslint/js'
                    versions: ['10.x']
          react:
              applies-to: version-updates
              patterns:
                  - 'react*'
                  - '@types/react*'
