name: ci

# Run this workflow every time a new commit push to the repository
on:
    pull_request:
        branches: ['main']

jobs:
    build:
        permissions:
            checks: write
            pull-requests: write
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Set up Node.js (LTS)
              uses: actions/setup-node@v4
              with:
                  node-version: 'lts/*'
            - name: Ensure latest npm
              run: |
                  sudo npm install -g npm@11.6.2
                  npm --version
            - name: Check if package-lock.json is up to date
              run: npx --yes package-lock-utd@1.1.3
            - name: Install Dependencies
              working-directory: ./
              run: npm install
            - name: Run vale linter
              uses: errata-ai/vale-action@v2.1.12
              with:
                  filter_mode: nofilter
                  fail_on_error: true
            - name: Run EsLint
              working-directory: ./
              run: npx eslint . --max-warnings=0
            - name: Check Prettier Format
              working-directory: ./
              run: npx prettier --config .prettierrc --check .
            - name: Run TS compiler
              working-directory: ./
              run: tsc --noEmit
            - name: Run build
              working-directory: ./
              run: npm run build
            - name: Run knip
              working-directory: ./
              run: npx knip
